.enter {
  transform: translateX(50px);
  opacity: 0.01;
  transition: all .5s ease-out;

  &.enterActive {
    transform: translateY(0px);
    opacity: 1;
  }
}

.leave {
  opacity: 1;
  transition: opacity .5s ease-out;

  &.leaveActive {
    opacity: 0.01;
  }
}

.appear {
  opacity: 0.01;

  &.appearActive {
    opacity: 1;
    transition: opacity .5s ease-out;
  }
}
