.example {
  &-enter {
     opacity: 0.01;

     &-active {
       opacity: 1;
       transition: opacity 500ms ease-in;
     }
  }

  &-leave {
     opacity: 1;

     &-active {
       opacity: 0.01;
       transition: opacity 500ms ease-in;
     }
  }

  &-appear {
    opacity: 0.01;

    &-active {
      opacity: 1;
      transition: opacity .5s ease-in;
    }
  }
}
